{% extends "emtp.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Profile
{% endblock %}


{% block body %}
  <!-- COLLAPSIBLE NAVBAR -->
<div class="collapse navbar-collapse navbar-fixed-top" id="alignment-example" style="background-color: #dfe2db">
<!-- BRAND -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#alignment-example" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="{{ url_for('home') }}" style="color: gray"> Bookshelf</a>
</div>
<!-- Links -->
<ul class="nav navbar-nav navbar-right">
<li>
    <form method="post" action="{{ url_for('home') }}" class="navbar-form navbar-right" style="padding-right: 430px">
            <div class="form-group">
            <span class="glyphicon glyphicon-search"></span>
                {{ form.csrf_token }}
                {{ wtf.form_field(form.search, **{'placeholder':'Search a book ...'}) }}
            </div>
</form>
</li>
<li><a href="/notification" style="color: gray"><span class="glyphicon glyphicon-bell" style="color: gray"></span> Notification
            {% if count %}
                <span class="badge pull-right">{{ count }}</span>
            {% endif %}
            </a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-align-justify" style="color: gray"></span></a>
<ul class="dropdown-menu" aria-labelledby="about-us">
<li><a href="/profile/{{ current_user.id }}" style="color: gray"><span class="glyphicon glyphicon-user"></span> {{current_user.first_name}}</a></li>
<li><a href="/logout" style="color: gray"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
</ul>
</li>
</ul>
</div>
  <!-- side bar -->
     <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <div class="col-xs-6 col-sm-3 placeholder">
                <img class ="img-square"  src="{{ url_for('static', filename='image/default.jpg') }}" width="200" height="200" alt="Generic placeholder thumbnail">
                </div>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/profile/{{ user_id }}">Profile</a></li>
            <li class="active"><a href="/profile/bookshelf/{{user_id }}/1">Bookshelf<span class="sr-only">(current)</span></a></li>
            <li><a href="/profile/rate_and_comment/{{ user_id }}">Comments and rating</a></li>
          </ul>
        </div>
          <!-- Contetnt -->
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% if not books.items %}
           <h1 class="page-header">Bookshelf</h1>
          <div class="row placeholders">
                  <div class="row">
                      <h1>No books to display</h1>
                  </div>
              {% else %}
                  <div class="page-header">
                   <ul class="list-inline">
                      <li><h1>Bookshelf</h1></li>
                       <li>
                       </li>
                   </ul>
                  </div>
          <div class="container-fluid">
          <form action="{{ url_for('bookshelf', user_id=user_id, page_num=1) }}" method ='post' class="navbar-form navbar-right">
                               {{ booksearch.csrf_token }}
                               {{ wtf.form_field(booksearch.search, **{'placeholder':'Search a book ...'}) }}
            </form><br><br><br>
                  <div class="row">
                        {% for book in books.items %}
                                 <div class="col-sm-4 bg-info" style="text-align: center;padding-top: 2%; padding-bottom: 2%">
                                <img class ="img-square" src="/static/image/book.png" width="150" height="150" alt="Generic placeholder thumbnail">
                                <a href="{{ url_for('indibook', book_id=book.book_id, page_num=1) }}"><h3>{{ book.containsbooks.title }}</h3></a>
                                <span class="text-muted">Edition: {{ book.containsbooks.edition }}</span><br>
                                <span class="text-muted">Type: {{ book.containsbooks.types }}</span><br>
                                <span class="text-muted">Year Published: {{ book.containsbooks.year_published }}</span><br>
                                <span class="text-muted">Author: {{x[loop.index-1]}} {{y[loop.index-1]}}</span><br>
                                     <span class="text-muted">Quantity: {{ book.quantity }}</span><br>

                                   {% if book.quantity != 0 and z[loop.index-1] == current_user.id%}
                                       <form action="/borrow/{{user_id}}/{{ book.containsbooks.book_id }}" method = "POST">
                                        <label for="returndate">Return Date: </label><input id="returndate" name="returndate" type="date" required/>
                                         <input type="submit" class="btn btn-info" value="Borrow">
                                     </form>
                                        <form action="/returnBookDiff/{{user_id}}/{{ book.containsbooks.book_id }}" method = "POST">
                                         <input type="submit" class="btn btn-success" value="Return">
                                     </form>

                                     {% elif book.quantity != 0 and (z[loop.index-1] == 'None' or z[loop.index-1] != current_user.id) %}
                                       <form action="/borrow/{{user_id}}/{{ book.containsbooks.book_id }}" method = "POST">
                                        <label for="returndate">Return Date: </label><input  name="returndate" type="date" required/>
                                         <input type="submit" class="btn btn-info" value="Borrow">
                                     </form>
                                        <form action="/returnBookDiff/{{user_id}}/{{ book.containsbooks.book_id }}" method = "POST" style="padding-bottom: 14px">
                                         Not Yet Borrowed<br>
                                     </form>

                                     {% elif book.quantity == 0 and (z[loop.index-1] == 'None' or z[loop.index-1] != current_user.id)  %}
                                       <br>
                                        <form action="/borrow/{{user_id}}/{{ book.containsbooks.book_id }}" method = "POST">
                                         Book n/a
                                     </form>
                                        <form action="/returnBookDiff/{{user_id}}/{{ book.containsbooks.book_id }}" method = "POST" style="padding-bottom: 8px">
                                         Not Yet Borrowed
                                     </form>


                                    {% else %}
                                        <br>
                                        <form action="/borrow/{{user_id}}/{{ book.containsbooks.book_id }}" method = "POST">
                                         Book n/a
                                     </form>
                                        <form action="/returnBookDiff/{{user_id}}/{{ book.containsbooks.book_id }}" method = "POST" style="padding-bottom: 8px">
                                         Not Yet Borrowed
                                     </form>
                                    {% endif %}
                                </div>
                        {% endfor %}
                            </div>
                    </div>
              <div class="footer" style="text-align: center">
              {% for page in books.iter_pages(left_edge=3,right_edge=3,left_current=3,right_current=3) %}
                    {% if page %}
                         <a href="{{ url_for('bookshelf', user_id=user_id, page_num=page) }}">{{ page }}</a>
                    {% else %}
                        ....
                    {% endif %}
              {% endfor %}
           </div>
          </div>
              {% endif %}
          </div>
          </div>
        </div>
</div><!-- end of side bar -->
     </div>
{% endblock %}
