{% extends "emtp.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Profile
{% endblock %}


{% block body %}
   <!-- COLLAPSIBLE NAVBAR -->
<div class="collapse navbar-collapse navbar-fixed-top" id="alignment-example" style="background-color: #dfe2db">
<!-- BRAND -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#alignment-example" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="{{ url_for('home') }}" style="color: gray"> Bookshelf</a>
</div>
<!-- Links -->
<ul class="nav navbar-nav navbar-right">
<li>
    <form method="post" action="{{ url_for('home') }}" class="navbar-form navbar-right" style="padding-right: 430px">
            <div class="form-group">
            <span class="glyphicon glyphicon-search"></span>
                {{ form.csrf_token }}
                {{ wtf.form_field(form.search, **{'placeholder':'Search a book ...'}) }}
            </div>
</form>
</li>
<li><a href="/notification" style="color: gray"><span class="glyphicon glyphicon-bell" style="color: gray"></span> Notification
            {% if count %}
                <span class="badge pull-right">{{ count }}</span>
            {% endif %}
            </a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-align-justify" style="color: gray"></span></a>
<ul class="dropdown-menu" aria-labelledby="about-us">
<li><a href="/profile/{{ current_user.id }}" style="color: gray"><span class="glyphicon glyphicon-user"></span> {{current_user.first_name}}</a></li>
<li><a href="/logout" style="color: gray"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
</ul>
</li>
</ul>
</div>
 <!-- side bar -->
     <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <div class="col-xs-6 col-sm-3 placeholder">
                <img class ="img-circle" src="{{ url_for('static', filename='image/default.jpg') }}" width="200" height="200" alt="Profile Picture">
            </div>
          </ul>
          <ul class="nav nav-sidebar">
              <li class="active"><a href="/profile/{{ current_user.id }}">Profile<span class="sr-only">(current)</span></a></li>
            <li><a href="/profile/bookshelf/{{ current_user.id }}/1">Bookshelf</a></li>
            <li><a href="/profile/rate_and_comment/{{ current_user.id }}">Comments and rating</a></li>
          </ul>
        </div>
          <!-- Contetnt -->
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">My profile</h1>
              <div class="col-lg-6 bg-success" style="text-align: center; padding: 2%">
                 <form action="{{ url_for('editprof', user_id=user_id) }}" method='post'>
                     {{ form1.csrf_token }}
                     {{ wtf.form_field(form1.first_name, **{'value':info.first_name}) }}
                     {{ wtf.form_field(form1.last_name, **{'value':info.last_name}) }}
                     {{ wtf.form_field(form1.sex, **{'value':info.sex}) }}
                     {{ wtf.form_field(form1.contact, **{'value':info.contact_number}) }}
                     {{ wtf.form_field(form1.birth_date, **{'value':info.birth_date}) }}
                     <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                     <button class="btn btn-lg btn-default btn-block" type="reset">Reset</button>
                 </form>
              </div>
          </div>
        </div>
</div><!-- end of side bar -->
{% endblock %}
