{% extends "emtp.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
Welcome to Bookshelf
{% endblock %}


{% block body %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Bookshelf</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/about"><span class="glyphicon glyphicon-briefcase"></span> About Us</a></li>
        </ul>
      <form method="post" action="{{ url_for('index') }}" class="navbar-form navbar-right">
        <div class="form-group">
            <span class="glyphicon glyphicon-search"></span>
                {{ form.csrf_token }}
                {{ wtf.form_field(form.search,**{'placeholder':'Search a book ...'}) }}
        </div>
        <button type="submit" class="btn btn-default" value="submit">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="/static/bg-photos/carousel-image2.jpeg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Bookshelf</h1>
                bo͝okˌSHelf/
                <h5>noun</h5>
                <p>A shelf on which books can be stored.</p>
              <p><a class="btn btn-lg btn-primary" href="/signup" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="/static/bg-photos/carousel-image3.jpeg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Need a book? Browse here!</h1>
              <p><a class="btn btn-lg btn-primary" href="/home" role="button">Browse books</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="/static/bg-photos/carousel-image1.jpeg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Already have an account?</h1>
                <p>Log in and join the community.</p>
               <p><a class="btn btn-lg btn-primary" href="/home" role="button">Log in</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
<div class="container marketing">
<h1>Top Rated</h1><hr>
        <div class="row">
                {% for bookss in top %}
      <!-- Three columns of text below the carousel -->
                <div class="item">
                    <div class="col-lg-4">
                        <img class="img-square" src="/static/image/book.png" alt="Generic placeholder image" width="140" height="140">
                        <h2>{{books[loop.index-1]}}</h2>
                        <p>Author: {{x[loop.index-1]}} {{y[loop.index-1]}}</p>
                        <p><a class="btn btn-default" href="/book/{{ids[loop.index-1]}}/1" role="button">View details &raquo;</a></p>
                    </div>
                </div><!-- /.col-lg-4 -->
                {% endfor %}
            </div>
        </div>
{% endblock %}